.black-border { border: 2px solid black; }
.blue-border { border: 2px solid blue; }
.red-border { border: 2px solid red; }
.white-border { border: 2px solid white; }
.green-border { border: 2px solid green; }
.purple-border { border: 2px solid purple; }
.pink-border { border: 2px solid pink; }
.gray-border { border: 2px solid gray; }
.aqua-border { border: 2px solid aqua; }
.hidden { display: none; }


