div.multi-filters 
{
    padding-top: 10%;
    .the-legend 
    {
        text-decoration:underline;
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        width: auto;
    }
    fieldset.the-fieldset 
    {
        background: #f8f9fa;
        border: 2px groove threedface #dadce0;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
    }
   
}

div.filter-container
{
    max-height: 200px;
    overflow-y: scroll;
}
