/* Helper Mixins */

@mixin generate_column_style($class, $background, $color, $border_color, $padding, $border-bottom: 0) {

    .#{$class}
    {
        background-color: $background;
        color: $color;
   
        
        @if $border-bottom == 1 
        { 
            border-bottom: 1px solid $border_color; 
        }
 
        .#{$class}-text 
        {
            padding: 0;
            text-align: center;
            
            input[type="checkbox"]
            {
                margin-top: 10%;
                height: 2em;
                width: 2em;
            }
            
        }
    
    }

}
@mixin top_bottom_margin($t, $b)
{
    margin-top: $t;
    margin-bottom: $b;
}

@mixin color_style($bg, $fg)
{
    background-color: $bg;
    color: $fg;
}

@mixin font_style($size, $family)
{
    font-size: $size;
    font-family: unquote($family);
}

/* Container Heading Style */

.container-heading
{
    padding: 0;
    margin: 0;
    margin-top: 0%;
    @include color_style(#464646, #FFFFFF);
    
    h4
    {   
       
        margin: 0;
        padding: 1%;
        font-size: 15px;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        
        a 
        {
            color: white;
            background: inherit;
            outline: none;
            margin-right: 1%;
            text-decoration: none;
            outline: none;
        }
    }
    
}

.container-heading:nth-child(odd)
{
    margin-top: 2%;
}

.container-heading:nth-child(even)
{
    border-top: 1px solid whitesmoke;
    text-align: center;
}

.container-sub-heading
{
    padding: 0;
    margin: 0;
    @include color_style(#ABAAAA, #FFFFFF);
    min-height: 25px;
    
    h5
    {  
        margin: 0;
        padding: 0.5% 0% 0.5% 1%;
        font-size: 15px;
        
        a 
        {
            color: white;
            background: inherit;
            outline: none;
            margin-right: 1%;
            text-decoration: none;
            outline: none;
        }
    }  
}

.container-content
{
    border: 1px solid rgb(218, 220, 224);
    background: #F8F8F8;
    
    .content-details
    {
        margin-top: 1%;
        
        .content-details-icon
        {
            text-align: center;
        }
    }
}


/* General Form Style */

div.form-item
{
    border: 1px solid rgb(218, 220, 224);
    background: #F8F8F8;
    padding-top: 2%;
    padding-bottom: 4%;
    
    div.form-item-label span
    {
        font-weight: bold;
    }
    
    div.form-sub-item
    {
        margin-bottom: 2%;
    }
}

div.form-item-submit
{
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Grouplist Grid Styles */

@include generate_column_style(gcolumn-headings, #ABAAAA, white, #DDE4E9, 5px);
@include generate_column_style(gcolumn-item, #F8F8F8, black, #DDE4E9, 5px, 1);

.gcolumn-item-text
{
    font-size: 14px;   
    
    p.group-desc
    {
        padding: 2%;
        overflow: visible;
        text-align: justify;
    }
}

form.form-horizontal 
{
    div.form-block
    {
        @include top_bottom_margin(0%, 2%);
    }
}
.submission-label
{
    padding-left: 2%;
    padding-top: 0.5%;
}


/* Checklist Grid Styles */


div.column-headings
{
    @include color_style(#ABAAAA, #FFFFFF);
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%;
    @include font_style(16px, Consolas);
    
    p 
    {
    	padding: 1% 0% 1% 2%;
    	margin: 0%;
    }
    
}

div.checklist-item 
{
    margin-bottom: 0%;
    @include color_style(#F8F8F8, #000000);
	border-bottom: 1px solid #B1C0CE;
    
    .checklist-item-text
    {
        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
    }
    
    input[type="radio"]
    {
        height: 1.3em;
        width: 1.3em;
    }
    
    span.radio-label
    {
        font-size: 1.5em;
    }
	
	span.no-comments 
    {
    	display: none;
    }
}

h3.subgroup-heading
{
    text-decoration: underline;
}

/* Form Completion */

.completion-message
{
    @include color_style(#F8F8F8, #000000);
    border: 1px solid #B1C0CE;
    margin-bottom: 2%;
    text-align: center;
    
    div.completion-message-image
    {
        padding-top: 2%;
        padding-bottom: 0.5%;
        text-align: center;
    }
    
    p { padding-top: 0.5%; }
}

.user-options
{
    border: 1px solid #B1C0CE;
    min-height: 40px;
    line-height: 40px;
    @include color_style(#F8F8F8, #000000);
    padding-top: 2%;
    text-align: center;

    a
    {
        @include color_style(#F8F8F8, #000000);
        display: inline-block;
        height: 100%;
        padding: 1%;
        text-decoration: none;
        text-align: center;
        
        span
        {
            display: block;
            font-size: 12px;
            margin: 0%;
            padding: 0%;
            line-height: normal;
        }
        
        &:hover
        {
            color: #575757;
        }
    }
}





